.header{
    text-align: center;
    height: 10px;
}

.footer{
    position:absolute;
    width:100%;
    left:0;
    bottom:0;
    text-align:center;
    min-height: 70px;
    box-sizing: border-box;
    padding-top: 7px;
    background-color: rgba(119, 136, 153, 0.434);
}

.body{
    padding-bottom: 70px;
}


/* styling to player and computer areas*/

button{
    margin-left: 10px;
}

.player{
    background-color: lightgreen;
    float: left;
    width:40%
}

#player-image{
    width:70%;
    border-top: 10%;
}
.computer{
    background-color: lightpink;
    float: right;
    width:40%
}

#computer-image{
    width:70%;
}


/*game area styling*/
.game-area{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 6%;
    text-align: center;
}